
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #fff;
}







.pdf-content {
  margin: 0;
  padding: 0;
}





.pdf-page-0 {
  width: 612px;
  height: 792px;
  aspect-ratio: 0.7727272727272727;
  position: relative;
  margin: 0;
  background: white;
  box-shadow: none;
}


.pdf-page-1 {
  width: 612px;
  height: 792px;
  aspect-ratio: 0.7727272727272727;
  position: relative;
  margin: 0;
  background: white;
  box-shadow: none;
}


.pdf-page-2 {
  width: 612px;
  height: 792px;
  aspect-ratio: 0.7727272727272727;
  position: relative;
  margin: 0;
  background: white;
  box-shadow: none;
}


.pdf-page-3 {
  width: 612px;
  height: 792px;
  aspect-ratio: 0.7727272727272727;
  position: relative;
  margin: 0;
  background: white;
  box-shadow: none;
}



@media print {
  body {
    background: white;
    color: black;
  }
  
  .pdf-page {
    page-break-after: always;
    box-shadow: none;
    margin: 0;
  }
  
  @page {
    margin: 0;
  }
}
